
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;700&display=swap');

:root{
    --light-color:#F7F3F2;
    --primary-color:#b90415;
    --primary-color-hover:#d3071b;
    --secondary-color:#103063;
    --secondary-color-hover:#143f85;
    --grey: #333;  
    --dark: #252529;
    --light:#fff;
    --red: #f84829;
    --shadow: 0 1px 5px rgba(165, 161, 161, 0.63);
    --shadowtext: 0 2px 5px rgba(22, 53, 224, 0.8);

}
*{ box-sizing: border-box;
    margin:0;
    padding: 0;
    transition: all 0.5s;
}
body, html{
    height: 100%;
    margin:0;
    font-family: Titillium Web, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8em;
    color: var(--grey);
    background-color: var(--light-color);

}
h2 {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 3px;
    
}
.text-rotate{
    /* margin-left: 15px; */
    transform-origin: left;
    transform: rotate(90deg);
    text-align:center;
    
    padding:0.5rem ;
    color: var(--light);
    background: rgb(19,6,246);
background: linear-gradient(40deg, rgba(19,6,246,0.8897934173669468) 0%, rgba(9,9,121,1) 100%);
   
}

.ptext{
    position: relative;
    top:5vw;
    text-align:center;
    
    font-size: 8rem;
    font-weight: 600;
    letter-spacing: 8px;
    text-shadow:var(--shadow);
    -webkit-text-fill-color: transparent;
    background-image:linear-gradient(40deg, rgb(19,6,246), rgb(9,9,121));
  -webkit-background-clip: text;
  background-clip: text;

   
     
}




/* Grid Layout Css Properties*/


/* .wrapper{
   
   
    
} */

section{
    /* min-height: 100vh; */
    margin-top: 5vh;
    display:grid;
    grid-template-columns:repeat(10,1fr) ;
    grid-template-rows:repeat(9,1fr);
    grid-gap:12px;
  
    grid-auto-flow: row-dense;
}
section img{
    width:100%;
    margin: 0 auto;
    transition: all 1s;
    box-shadow: var(--shadow);
    justify-content: center;

}


section img:nth-of-type(2n){
    grid-column: span 2;
    margin-top: 10%;
    grid-row: span 2;
    width:115%;
   
}


section img:nth-of-type(3n){
    grid-column: span 1;
    grid-row: span 2;
    width:130%;
}

section img:nth-of-type(5n){

    grid-column: span 1;
    grid-row: span 2;
    margin-top: 45%;
    width:160%;
  
}
section img:nth-of-type(8n){
    grid-column: span 1;
    grid-row: span 3;
    width:180%;
    box-shadow: 0.4rem 0.4rem rgba(18, 6, 246, 0.616);
}
.section-2 img:nth-of-type(2n){
    grid-column: span 1;
    grid-row: span 1;
    width:130%;
    margin-top: 50%;
   
}

.section-2 img:nth-of-type(5n){

    grid-column: span 1;
    grid-row: span 1;
   
    width:180%;
    animation: movein 7s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}
.section-2 img:nth-of-type(8n){
    grid-column: span 1;
    grid-row: span 3;
    margin-top: 45%;
    width:150%;
    box-shadow: 0.3rem 0.3rem rgba(252, 248, 11, 0.582);
}

a{
padding: 0.3rem;
font-size: 1.5rem;
}

/* Dots for change year */
#theme-options-wrapper{

    position: relative;
    margin-top: 15%;
    margin-bottom: 5vh;
    display:flex;
    justify-content: center;
    transition: all 1s;
    
    }
    
    .theme-dot{
        height: 30px;
        width: 100px;
        border-radius: 5%;
        box-shadow: var(--shadow);
        border:2px solid var(--themeDotBorder);
        text-align: center;
        cursor:pointer;
        margin:10px;
        padding: 0.2rem;
        font-size: .9rem;
        transition: all 0.5s;
        background-color: #fff;
    }
    .theme-dot:hover{
        background-color: rgb(241, 220, 220);
       }
  
    
    #settings-note{
        font-size: 1rem;
        text-align: center;
    }
    figure{
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem; 
        text-align: center;
       align-items: center;
    }

    label{
        text-align: center;
    }
    #mySlider{
       
        width: 200px;
    }

    /* About page */

    .wrapper-about{
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem; 
       
       align-items: center;
    }
    .wrapper-about h1{
        margin-bottom: 5rem;  
    }
    .p-about{
        text-align: left;

    }
    .linkstext{

        margin: 1rem;
    }