
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;700&display=swap');

:root{
    --light-color:#F7F3F2;
    --primary-color:#b90415;
    --primary-color-hover:#d3071b;
    --secondary-color:#103063;
    --secondary-color-hover:#143f85;
    --grey: rgb(70, 68, 73);  
    --dark: #252529;
    --light:#fff;
    --red: #f84829;
    --shadow: 0 1px 5px rgba(165, 161, 161, 0.63);
    --shadowtext: 0 2px 5px rgba(22, 53, 224, 0.8);

}
*{ box-sizing: border-box;
    margin:0;
    padding: 0;
    transition: all 0.5s;
}
body, html{
    height: 100%;
    margin:0;
    font-family: Titillium Web, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8em;
    color: var(--grey);
    background-color: var(--light-color);

}
h2 {
    font-size: 5.5rem;
    font-weight: 400;
    letter-spacing: 3px;
    
}



.hide {
    display:none;
}
.text-rotate{
    /* margin-left: 15px; */
    transform-origin: left;
    transform: rotate(90deg);
    text-align:center;
    
    padding: 2rem 1.5rem 0 1.5rem;
    
    color: var(--light);
   background: linear-gradient(40deg, rgba(18, 6, 246, 0.822) 100%, rgba(9, 9, 121, 0.822) 0%);
   z-index: 100;
}


.ptext{
    position: relative;
    top:15vw;
    text-align:center;
    margin-bottom: 30vw;
    font-size: 8rem;
    font-weight: 600;
    letter-spacing: 8px;
    text-shadow:0 2px 5px rgba(105, 100, 100, 0.63);
    color: var(--grey);
   
    /* -webkit-text-fill-color: transparent;
    background-image:linear-gradient( rgb(19,6,246), rgb(9, 187, 241));
  -webkit-background-clip: text;
  background-clip: text; */

   
     
}




/* Grid Layout Css Properties*/




.wrapper-grid{
    /* min-height: 100vh; */
    margin-top: 5vh;
    display:grid;
    grid-template-columns:repeat(9,1fr) ;
    grid-template-rows:repeat(8,1fr);
    grid-gap:12px;
    grid-auto-flow: row-dense;
}
.wrapper-grid-2{
    /* min-height: 100vh; */
    margin-top: 5vh;
    display:grid;
    grid-template-columns:repeat(9,1fr) ;
    grid-template-rows:repeat(8,1fr);
    grid-gap:12px;
    grid-auto-flow: row-dense;
}


/* Layout for first ID and third ID */

.wrapper-grid img{
   
    width:115%;
    margin: 0 auto;
    transition: all 1s;
    box-shadow: var(--shadow);
    justify-content: center;

}
.wrapper-grid img:nth-of-type(2n){
   
    grid-column: span 2;
    margin-top: 40%;
    grid-row: span 2;
    width:115%;
 
}
.wrapper-grid img:nth-of-type(3n){
   
    grid-column: span 1;
    grid-row: span 1;
    margin-top: 25%;
    width:130%;
 
}
.wrapper-grid img:nth-of-type(5n){
   
    grid-column: span 1;
    grid-row: span 2;
    margin-top: 45%;
    width:160%;
 
}
.wrapper-grid img:nth-of-type(8n){
    grid-column: span 1;
    grid-row: span 3;
    width:180%;
    box-shadow: 0.4rem 0.4rem rgba(18, 6, 246, 0.616);
}

/* Layout for forth ID */

section .image-span-wrapper span{
     position: absolute;
    width:10.5%;
    height:2%;
    margin-top:-0.55rem;     
    }

 .image-span-wrapper img{

        width:115%;
        margin: 0 auto;
        transition: all 1s;
        box-shadow: var(--shadow);
        position: relative;
     

}

section .image-span-wrapper:nth-of-type(2n){
    grid-column: span 2;
    margin-top: 40%;
    grid-row: span 2;
    width:115%;
 
   
}


section .image-span-wrapper:nth-of-type(3n){
    grid-column: span 1;
    grid-row: span 1;
    margin-top: 25%;
    width:130%;
    
}

section .image-span-wrapper:nth-of-type(8n){
    grid-column: span 1;
    grid-row: span 3;
    width:180%;
 
}


/* Layout for second ID */
.wrapper-grid-2 img{
    width:100%;
    margin: 0 auto;
    transition: all 1s;
    box-shadow: var(--shadow);
    justify-content: center;

}
.wrapper-grid-2 img:nth-of-type(2n){
    grid-column: span 1;
    grid-row: span 1;
    width:130%;
    margin-top: 50%;
  
   
}

.wrapper-grid-2 img:nth-of-type(5n){

    grid-column: span 2;
    grid-row: span 2;
   
    width:130%;
    animation: movein 7s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    
}
.wrapper-grid-2 img:nth-of-type(8n){
    grid-column: span 1;
    grid-row: span 3;
    margin-top: 45%;
    width:150%;
    box-shadow: 0.4rem 0.4rem rgba(18, 6, 246, 0.616);
}

a{
padding: 0.3rem;
font-size: 1.5rem;
}

/* Dots for change year */
div.sticky {
    position: -webkit-sticky;
    position: fixed;
    top: 1%;
    left: 17vw;
  
    z-index: 1000;
    overflow: auto;
  }
 
#theme-options-wrapper{
    display: flex;
    align-items: center;
   justify-content: center;
 
    transition: all 1s;
    
    }
    button a{

        font-size: .9rem;
        text-decoration: none;
    }
    .a-about{

        font-size: 1rem;
     
    }
    .theme-dot{
        height: 30px;
        width: 130px;
        border-radius: 5%;
        box-shadow: var(--shadow);
        border:2px solid var(--themeDotBorder);
        text-align: center;
        cursor:pointer;
        margin:10px;
        padding: 0.2rem;
        font-size: .9rem;
        color: var(--grey);
        font-family: Titillium Web;
        transition: all 0.5s;
        background-color:var(--light-color);
    }


    .theme-dot:hover{
        background-color: rgb(241, 220, 220);
       }

    
  
       #settings-note{
        font-size: 1rem;
        text-align: center;
    }
    #first{
        transition: all 2s ease-in-out;
    }

   
    label{
        text-align: center;
    }
    #mySlider{
       
        width: 200px;
    }

    /* About page */

    .wrapper-about{
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem; 
       
       align-items: center;
    }
    .wrapper-about h1{
        margin-bottom: 5rem;  
    }
    .p-about{
        text-align: left;

    }
    .linkstext{

        margin: 1rem;
    }
    img:hover {
        width:   180%;
      
      }
      .wrapper-grid img:hover {
        width:   180%;
      
      }
    