---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 2
---
<div class="wrapper-about">
<h1>About</h1>

<p class="text-about">
It is a student project.
The screen shots are from the Webpage Wayback Archiv and the selection was curated by me. There are popular webpages from different sections that I could think of. I tryed to find more than one in a rubrik like art museum or newspaper or artist to compare them with each other.
</p>
</div>


<p>back<a href="/">home</a>.</p>