---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---


<div id="first">
<section class="wrapper-grid">

 <h2 class="text-rotate">1995</h2>



{% for screenshot in collection_1 %}

{% set busyClass = "" %}
  {% if screenshot.busy == true %}
  {% set busyClass = "busy" %}
 
{% endif %}

   <img class="{{busyClass}}"src="/img/{{screenshot.name}}"> 

 {% endfor %} 

</section>
</div>

<div id="second">

<section class="wrapper-grid-2">
 <h2 class="text-rotate-yellow">2001</h2>

    

{% for screenshot in collection_2 %}

{% set boldClass = "" %}
  {% if screenshot.bold_colors == true %}
  {% set boldClass = "bold" %}
 
{% endif %}

   <img class="{{boldClass}}"src="/img/{{screenshot.name}}"> 
 

 {% endfor %} 
 
</section>

</div>
<div id="third">
<section class="wrapper-grid">
 <h2 class="text-rotate">2010</h2>

    
{% for screenshot in collection_3 %}

   <img src="/img/{{screenshot.name}}">   



 {% endfor %} 
     
   
</section>

</div>

<div id="forth">
<section class="wrapper-grid">
 <h2 class="text-rotate">2015</h2>
 

    
{% for screenshot in collection_4_col %}

<div class="image-span-wrapper">
   <img src="/img/{{screenshot.name}}">
   <span style="background-color:{{screenshot.rgb_value}}"></span>   

</div>

 {% endfor %} 
   
</section>

</div>

<p class="linkstext">More about the project<a href="{{ '/about/' | url }}">about</a>.</p>
