---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
  
<div id="first">
<h2 id="time" class="text-rotate">1995</h2>
<section class="wrapper-grid">





{% for screenshot in collection_1 %}

{% set busyClass = "" %}
  {% if screenshot.busy == true %}
  {% set busyClass = "busy" %}
 
{% endif %}
<div class="image-span-wrapper">
   <img class="{{busyClass}}"src="/img/{{screenshot.name}}"> 
</div>
 {% endfor %} 

</section>
</div>

<div id="second">
  <h2 id="tee"class="text-rotate-1">2001</h2> 
   
<section class="wrapper-grid-2">

  

{% for screenshot in collection_2 %}

{% set boldClass = "" %}
  {% if screenshot.bold_colors == true %}
  {% set boldClass = "bold" %}
 
{% endif %}
<div class="image-wrapper-2">
   <img class="{{boldClass}}"src="/img/{{screenshot.name}} "> 
 
</div>
 {% endfor %} 
 
</section>

</div>
<div id="third">
<section class="wrapper-grid">
 <h2 class="text-rotate-1">2010</h2>

    
{% for screenshot in collection_3 %}

<div class="image-span-wrapper">

   <img src="/img/{{screenshot.name}}">
   <span class="rgb-col" style="background-color:{{screenshot.rgb_value}}"></span>   

</div>

 {% endfor %} 
     
   
</section>

</div>

<div id="forth">
<section class="wrapper-grid">
 <h2 class="text-rotate-1">2015</h2>
 

    
{% for screenshot in collection_4_col %}

<div class="image-span-wrapper">
   <img src="/img/{{screenshot.name}}">
   <span class="rgb-col" style="background-color:{{screenshot.rgb_value}}"></span>   

</div>

 {% endfor %} 
   
</section>

</div>

<p class="linkstext">More about the project<a href="{{ '/archive/' | url }}">about</a>.</p>
