---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---


<div id="first">
<section>

 <h2 class="text-rotate">1995</h2>
<button class="toggleVisibilitybusy buttonstyle"> hide busy</button>


{% for screenshot in collection_1 %}

{% set busyClass = "" %}
  {% if screenshot.busy == true %}
  {% set busyClass = "busy" %}
 
{% endif %}

   <img class="{{busyClass}}"src="/img/{{screenshot.name}}"> 

 {% endfor %} 

</section>
</div>
<div id="second">
<section class="section-2">
 <h2 class="text-rotate-yellow">2001</h2>
<button class="toggleVisibilitybold buttonstyle-2"> hide bold colors</button>
    

{% for screenshot in collection_2 %}

{% set boldClass = "" %}
  {% if screenshot.bold_colors == true %}
  {% set boldClass = "bold" %}
 
{% endif %}

   <img class="{{boldClass}}"src="/img/{{screenshot.name}}"> 

 {% endfor %} 
   
</section>

</div>
<div id="third">
<section>
 <h2 class="text-rotate">2010</h2>

    
{% for screenshot in collection_3 %}
   <img src="/img/{{screenshot.name}}">   



 {% endfor %} 
     
   
</section>

</div>

<div id="forth">
<section>
 <h2 class="text-rotate">2015</h2>
   <button class="toggleVisibilitycolors buttonstyle" id="theme-dot">hide main colors</button>

    
{% for screenshot in collection_6 %}

{% set averageClass = "" %}
  {% if screenshot.average_col == true %}
  {% set averageClass = "average" %}
 
{% endif %}

   <img class="{{averageClass}}"src="/img/{{screenshot.name}}"> 

 {% endfor %} 
   
</section>

</div>

<p class="linkstext">More about the project<a href="{{ '/posts/' | url }}">about</a>.</p>
