




<div id="first">
<section>
 <h2 class="text-rotate">1995</h2>

 
{% for screenshot in collection_1 %}
   <img src="/img/{{screenshot.name}}">   
<p>{{screenshot.year}}</p>


 {% endfor %} 
{% assign screenshot_busy = false %}
{% if my_variable != true %}
  {{screenshot.busy}}
{% endif %}    


</section>
</div>
<div id="second">
<section class="section-2">
 <h2 class="text-rotate">2001</h2>

    
{% for screenshot in collection_2 %}
   <img src="/img/{{screenshot.name}}">   



 {% endfor %} 
     
   
</section>

</div>
<div id="third">
<section>
 <h2 class="text-rotate">2010</h2>

    
{% for screenshot in collection_3 %}
   <img src="/img/{{screenshot.name}}">   



 {% endfor %} 
     
   
</section>

</div>

<div id="forth">
<section >
 <h2 class="text-rotate">2015</h2>

    
{% for screenshot in collection_4 %}
   <img src="/img/{{screenshot.name}}">   



 {% endfor %} 
     
   
</section>

</div>