<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
     <link rel="stylesheet" href="{{ '/css/Stylesheet.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ title }}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
      <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>

   

 <script>
    $(document).on("click", ".toggleVisibilitybold", function() {
    $('.bold').toggleClass('hide');
});
      $(document).on("click", ".toggleVisibilitybusy", function() {
    $('.busy').toggleClass('hide');
});
      $(document).on("click", ".toggleVisibilitycolors", function() {
    $('.rgb-col').toggleClass('hide');
});
 
 
  function third() {
    var x = document.getElementById("third");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
    function forth() {
    var x = document.getElementById("forth");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
//   $(document).scroll(function() {
//   var z = $(this).scrollTop();
//   if (z < 3400) {
//     $("#cof").fadeIn();
//   } else {
//     $("#cof").fadeOut();
//   }
// });
$(document).scroll(function() {
  var z = $(this).scrollTop();
  if (z < 3400) {
    $("#cof").fadeIn();
  }else {
    $("#cof").fadeOut();
  }
});


// $(document).scroll(function() {
//   var y = $(this).scrollTop();
//   if (y > 2000 && y < 3000) {
//     $("#tee").fadeIn();
//   } else {
//     $("#tee").fadeOut();
//   }
// });

//   $(document).scroll(function() {
//   var y = $(this).scrollTop();
//   if (y < 3000 && y > 0) {
//     $('.textshow-hide-1').fadeIn();
   
//   } else {
//     $(".textshow-hide-1").html("2001")
//   }
// });

// $(document).ready(function () {

// $(window).scroll(function () {
//     if ($(this).scrollTop() > 2000) {
//        $('.textshow-hide-1').text("2001")
//     } else {
//         $('.textshow-hide-1').text("1995")
//     }
// });
// });
// window.onscroll = function() {scrollFunction();
// function scrollFunction() {
  
//   if(document.body.scrollTop > 1000 || document.documentElement.scrollTop > 1000) {
//     document.getElementById("zahl").innerHTML = "2001";
   
//   } else if (document.body.scrollTop < 2000 && document.body.scrollTop > 1400 || document.documentElement.scrollTop < 2000 && document.documentElement.scrollTop > 1400){
//     document.getElementById("zahl").innerHTML = "2009";
  
  
//  }
//  else {
//   document.getElementById("zahl").innerHTML = "1995";
// }

// }


// window.onscroll = function() {scrollFunction()};
// function scrollFunction() {
//   if (document.body.scrollTop > 150 || document.documentElement.scrollTop > 150) {
//     document.getElementById("zahl").innerHTML = "1995!";
   
//   } else {
//     document.getElementById("zahl").innerHTML = "2001!";
//   }
// }

// $(document).scroll(function() {
//   var z = $(this).scrollTop();
//   if (z > 4500 && z < 10000) {
//     $('.textshow-second').fadeIn();
//   } else {
//     $('.textshow-second').fadeOut();
//   }
// });


 </script>
  </head>
 
<body>
    <header>

   <div class="sticky">
        
    <div id="theme-options-wrapper">
  
      <button class="theme-dot"><a href="#first">1995-2000</a></button>
       <button onclick="second()"class="theme-dot"><a href="#second">2001-2009</a></button>
       <button onclick="third()" class="theme-dot"><a href="#third">2010-2014</a></button>
       <button onclick="forth()" class="theme-dot"><a href="#forth">2015-2020</a></button>
      <button class="toggleVisibilitybusy theme-dot" id="theme-dot">busy (1995)</button>
       <button class="toggleVisibilitybold theme-dot" id="theme-dot">bold col. (2001)</button>
       <button class="toggleVisibilitycolors theme-dot" id="theme-dot">main col. (2010-20)</button>
        
      </div>
 
    
  </div>
</header> 
            <p class="ptext">
            1995-2020
            </p>
       
        


     <main{% if templateClass %} class="{{ templateClass }}"{% endif %}> 

 </main>
      <!-- Stop deleting -->


      {{ content | safe }}
     
   
</section>
</div>
    <footer></footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
