<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
     <link rel="stylesheet" href="{{ '/css/Stylesheet.css' | url }}">
  


  </head>
 
<body>

       
       
            <p class="ptext">
            1995-2020
            </p>
       
        


     <main{% if templateClass %} class="{{ templateClass }}"{% endif %}> 

 </main>
      <!-- Stop deleting -->


     <div class="wrapper-about">
<h1>About</h1>

<p class="text-about">
It is a student project. <br>
The screen shots are from the Webpage<a class="a-about" href="https://archive.org/web/">Wayback Machine Archive</a>and the selection was curated by me. There are popular webpages from different sections and periods that I could think of. I tried to find more than one in a rubrik like art museum or newspaper or artist to compare them with each other.
I was wondering if there are any recurring trends or patterns in layouts and colour themes since website design has started.
</p>
</div>


<p class="linkstext">back<a href="/">home</a>.</p>

   

   
  </body>
</html>
